h2 {
    font-size: 2rem;
}

.botones {
    margin: 15px 0;
}

.botones > button {
    cursor: pointer;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
}

.botones > button:hover {
    background-color: #e6e6e6;
}

.item {
    padding: 10px 0;
}

.item > h4 {
    font-size: 1.2rem;
    border-bottom: 2px solid var(--light-color);
    margin-bottom: 10px;
}