<div class="container">
    <h2>Info personal</h2>
    <router-outlet></router-outlet>
    <div class="table" *ngIf="persona">
        <div class="botones">
            <button [routerLink]="['edit-info', persona.id]">
                <img src="../../../../../assets/icons/edit.svg" alt="Editar">
            </button>
        </div>
        <div class="item">
            <h4>Nombre</h4>
            <p>{{persona.nombre}}</p>
        </div>
        <div class="item">
            <h4>Apellido</h4>
            <p>{{persona.apellido}}</p>
        </div>
        <div class="item">
            <h4>Título</h4>
            <p>{{persona.titulo}}</p>
        </div>
        <div class="item" id="descripcion">
            <h4>Descripción</h4>
            <p>{{persona.descripcion}}</p>
        </div>
        <div class="item">
            <h4>LinkedIn</h4>
            <p>{{persona.linkedin}}</p>
        </div>
        <div class="item">
            <h4>Github</h4>
            <p>{{persona.github}}</p>
        </div>
        <div class="item">
            <h4>Mail</h4>
            <p>{{persona.mail}}</p>
        </div>
        <div class="item">
            <h4>Link de contacto</h4>
            <p>{{persona.linkContacto}}</p>
        </div>
    </div>
</div>