.item {
    padding: 20px 0;
}

h4 {
    font-size: 1.5rem;
}

.instituto {
    font-weight: 200;
    font-size: 1.2rem;
}

.separate {
    padding: 0;
    width: 30%;
    margin-bottom: 15px;
    border: solid 0.5px var(--text-color);
}

p {
    margin-bottom: 10px;
}

.fecha > span {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 5px 0;
    color: #fff;
    background-color: var(--medium-color);
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px var(--text-color);
}

span > p {
    font-weight: 200;
    font-size: 0.8rem;
}