.title {
    display: flex;
    align-items: center;
    gap: 5%;
}

.title > button {
    cursor: pointer;
    background-color: var(--light-color);
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: none;
}

h2 {
    font-size: 2rem;
}

.elemento {
    border-bottom: 15px solid var(--medium-color);
}

.elemento,
.item {
    padding: 10px 0;
}

.head_item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item > h4,
.head_item {
    font-size: 1.2rem;
    border-bottom: 2px solid var(--light-color);
    margin-bottom: 10px;
}

.head_item > h4 {
    font-size: 1.8rem;
}

.head_item > img {
    width: 10%;
    border-radius: 15px;
}

.botones {
    margin: 15px 0;
}

.botones > button {
    cursor: pointer;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
}

.botones > button:hover {
    background-color: #e6e6e6;
}

.item {
    padding: 10px 0;
}