<form action="" [formGroup]="form" (submit)="editarProyecto($event)">
    <div class="form">
        <div class="input">
            <label for="nombreProyecto">Nombre del proyecto</label>
            <input type="text" id="nombreProyecto" formControlName="nombreProyecto">
            <p
                class="error"
                *ngIf="form.get('nombreProyecto')?.hasError('required') && form.get('nombreProyecto')?.touched"
            >Se necesita un nombre de proyecto</p>
        </div>
        <div class="input">
            <label for="link">Link</label>
            <input type="text" id="link" formControlName="link">
        </div>
        <div class="input">
            <label for="github">Github</label>
            <input type="text" id="github" formControlName="github">
        </div>
        <div class="input">
            <label for="fecha">Fecha</label>
            <input type="text" id="fecha" formControlName="fecha" placeholder="Ej. Marzo, 2022">
        </div>
        <div class="input">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" formControlName="descripcion"></textarea>
        </div>
        <div class="input">
            <label for="imagen">Imagen</label>
            <input type="file" id="imagen" (change)="getImage($event)">
        </div>
        <div class="input">
            <mat-chip-listbox>
                <mat-chip-row
                    [editable]="true"
                    (click)="toggleTecnologia(tecnologia)"
                    *ngFor="let tecnologia of tecnologias"
                    [ngClass]="{'selected': tecnologiasSelected.includes(tecnologia)}"
                >
                <img matChipAvatar src="../../../../../assets/icons/angular.svg" alt="Angular">
                {{tecnologia.nombreTecnologia}}</mat-chip-row>
            </mat-chip-listbox>
        </div>
    </div>
    <div class="botones">
        <button type="submit">Guardar</button>
        <button type="button" routerLink="/admin/panel/proyectos">Cerrar</button>
    </div>
</form>