.container {
    padding: 30px;
}

h1 {
    font-size: 2.5rem;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
}

h4 {
    font-size: 1rem;
    transform: translateX(-100%);
    animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(3%);
    }

    100% {
        transform: translateX(0);
    }
}