<div class="container">
    <div class="opciones">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
            <rect 
                x="0" 
                y="5" 
                width="30px" 
                height="3px" 
                rx="3" 
                ry="3" 
                opacity="1" 
                fill="var(--text-color)" 
                stroke-width="3"
            />
            <rect 
                x="0" 
                y="15" 
                width="30px" 
                height="3px" 
                rx="3" 
                ry="3" 
                opacity="1" 
                fill="var(--text-color)" 
                stroke-width="3"
            />
            <rect 
                id="rect-3"
                x="0" 
                y="25" 
                width="20px" 
                height="3px" 
                rx="3" 
                ry="3" 
                opacity="1" 
                fill="var(--text-color)" 
                stroke-width="3"
            />
        </svg>
    </div>
    <div *ngFor="let persona of personas" class="title">
        <h1>{{persona.nombre}} {{persona.apellido}}</h1>
        <h4>{{persona.titulo}}</h4>
    </div>
</div>