.container {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    column-gap: 10%;
    padding: 15px 0;
}

@media (max-width: 550px) {
    .container {
        grid-template-columns: repeat(3, 20%);
        column-gap: 15%;
    }
}