.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 90vh;
}

.container::-webkit-scrollbar,
.seccion-nav::-webkit-scrollbar {
    display: none;
}

.cursor {
    z-index: 1;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%); /* Centra el círculo en el cursor */
    pointer-events: none; /* Evita que el círculo interfiera con los clics */
    display: none;
}

app-header {
    position: sticky;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 20px var(--bg-color);
    top: 0;
}

.main {
    display: flex;
    flex-grow: 1;
}

.seccion-nav {
    position: sticky;
    top: 60px;
    width: 45%;
    height: 60vh;
    overflow-y: auto;
}

.seccion-seleccionada {
    width: 55%;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.seccion-seleccionada.debajo-header {
    opacity: 0;
}

@media (max-width: 500px) {
    app-opciones {
        display: none;
    }

    .main {
        flex-direction: column;
    }

    .seccion-seleccionada,
    .seccion-nav {
        width: 100%;
    }

    .seccion-nav {
        height: 70px;
    }
}