.container {
    overflow: auto;
    height: calc(90vh);
}

.container::-webkit-scrollbar {
    display: none;
}

.cursor {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #fff; /* Color del borde del círculo */
    border-radius: 50%; /* Para hacerlo circular */
    position: absolute;
    transform: translate(-50%, -50%); /* Centra el círculo en el cursor */
    pointer-events: none; /* Evita que el círculo interfiera con los clics */
    display: none;
}