<div class="background">
    <div class="cursor" id="follower"></div>
    <div class="container">
        <app-header></app-header>
        <div class="main">
            <div class="seccion-nav">
                <app-persona></app-persona>
                <app-opciones></app-opciones>
            </div>
            <div class="seccion-seleccionada" [ngSwitch]="navOpcion">
                <app-educaciones *ngSwitchCase="'Educacion'"></app-educaciones>
            </div>
        </div>
    </div>
</div>