<div class="background">
    <div class="cursor" id="follower"></div>
    <div class="container">
        <app-header></app-header>
        <div class="main">
            <div class="seccion-nav">
                <app-persona></app-persona>
                <app-opciones></app-opciones>
            </div>
            <div class="seccion-seleccionada" [ngSwitch]="navOpcion">
                <app-persona-inicio *ngSwitchCase="'Inicio'"></app-persona-inicio>
                <app-proyectos *ngSwitchCase="'Proyectos'"></app-proyectos>
                <app-experiencias *ngSwitchCase="'Experiencia'"></app-experiencias>
                <app-tecnologias *ngSwitchCase="'Tecnologías'"></app-tecnologias>
                <app-educaciones *ngSwitchCase="'Educacion'"></app-educaciones>
                <app-contacto-item *ngSwitchCase="'Contacto'"></app-contacto-item>
            </div>
        </div>
    </div>
</div>