<form action="" [formGroup]="form">
    <div class="form">
        <div class="input">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Nombre" formControlName="nombre">
        </div>
        <div class="input">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" placeholder="Apellido" formControlName="apellido">
        </div>
        <div class="input">
            <label for="titulo">Título</label>
            <input type="text" id="titulo" placeholder="Titulo" formControlName="titulo">
        </div>
        <div class="input">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" placeholder="Descripción" formControlName="descripcion"></textarea>
        </div>
    </div>
    <div class="botones">
        <button type="submit">Guardar</button>
        <button type="button" routerLink="/admin/panel/info">Cerrar</button>
    </div>
</form>