<div class="main">
    <div class="header">
        <h2>Pablo Barcala</h2>
        <ul class="nav">
            <li routerLink="info" routerLinkActive="selected">Info</li>
            <li routerLink="proyectos" routerLinkActive="selected">Proyectos</li>
            <li routerLink="experiencia" routerLinkActive="selected">Experiencia</li>
            <li routerLink="tecnologias" routerLinkActive="selected">Tecnologías</li>
            <li routerLink="educacion" routerLinkActive="selected">Educación</li>
        </ul>
        <button routerLink="/">Volver a la página</button>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>