.proyecto {
    padding: 20px 0;
}

.imagen {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.imagen > a > img {
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s, filter 0.3s;
}

.imagen > a > img:hover {
    transform: scale(1.1);
    filter: brightness(80%);
}

h4 {
    font-size: 1.5rem;
}

.separate {
    padding: 0;
    width: 30%;
    margin-bottom: 15px;
    border: solid 0.5px var(--text-color);
}

p, a {
    margin-bottom: 10px;
}

a {
    cursor: pointer;
    color: var(--text-color);
    font-size: 0.8rem;
}

span {
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--medium-color);
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px var(--text-color);
}

.mat-mdc-chip-set {
    margin: 20px 0;
}

.mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: var(--text-color);
    --mdc-chip-label-text-color: var(--bg-color);
}

.imagen {
    margin-top: 2%;
}

#descripcion {
    white-space: pre-line;
}