<div class="proyecto" *ngIf="proyecto">
    <div class="proyecto-info">
        <h4>{{proyecto.nombreProyecto}}</h4>
        <a *ngIf="!proyecto.imagen" href="{{proyecto.link}}" target="_blank">{{proyecto.link}}</a>
        <div class="separate"></div>
        <p id="descripcion">{{proyecto.descripcion}}</p>
        <span *ngIf="proyecto.fecha">{{proyecto.fecha}}</span>
        <mat-chip-listbox>
            <mat-chip-row
            *ngFor="let tecnologia of proyecto.tecnologias"
            >
            <img matChipAvatar src="{{tecnologia.imagen}}" alt="{{tecnologia.nombreTecnologia}}">
            {{tecnologia.nombreTecnologia}}
        </mat-chip-row>
    </mat-chip-listbox>
    </div>
    <div class="imagen">
        <a *ngIf="proyecto.imagen" target="_blank" href="{{proyecto.link}}">
            <img src="{{proyecto.imagen}}" alt="Imagen de proyecto">
        </a>
    </div>
</div>