div {
    background-color: var(--bg-color);
    border-radius: 10px;
    height: calc(100vh - 30px);
    overflow: auto;
}

div::-webkit-scrollbar{
    display: none;
}

@media (max-width: 500px) {
    div {
        height: calc(100vh - 20px);
    }
}