<div class="container">
    <div class="title">
        <h2>Tecnologías</h2>
        <button routerLink="add-tecnologia">
            <img src="../../../../../assets/icons/add.svg" alt="Agregar">
        </button>
    </div>
    <router-outlet></router-outlet>
    <table>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Porcentaje</th>
            <th>Botones</th>
        </tr>  
        <tr
            *ngFor="let tecnologia of tecnologias"
        >
            <td>
                <img src="{{tecnologia.imagen}}" alt="{{tecnologia.nombreTecnologia}}">
            </td>
            <td>{{tecnologia.nombreTecnologia}}</td>
            <td>{{tecnologia.porcentaje}}%</td>
            <td class="botones">
                <button [routerLink]="['edit-tecnologia', tecnologia.id]">
                    <img src="../../../../../assets/icons/edit.svg" alt="Editar">
                </button>
                <button (click)="delete(tecnologia.id)">
                    <img src="../../../../../assets/icons/delete.svg" alt="Eliminar">
                </button>
            </td>
        </tr>
    </table>
</div>