:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

:root.dark {
    --text-color: #eaeaea;
    --bg-color: #040f16;
    --dark-color: #001242;
    --medium-color: #005e7c;
    --light-color: #0094c6;
    --theme: #040f16;
}

:root.light {
    --text-color: #050404;
    --bg-color: #eaeaea;
    --dark-color: #1f0322;
    --medium-color: #4A1942;
    --light-color: #8a1c7c;
    --theme: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    top: 0;
    left: -100;
    padding: 15px;
    background: linear-gradient(-50deg, var(--light-color), var(--dark-color), var(--light-color));
    background-size: 200% 200%;
    animation: gradient 8s linear infinite;
    color: var(--text-color);
}

body::-webkit-scrollbar {
    display: none;
}

@media (max-width: 500px) {
    :root {
        font-size: 12px;
    }

    body {
        padding: 10px;
    }
}

@keyframes gradient {
    0%, 100% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }
}